/* main style */

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: white;
    background-color: darkblue;
}

.segment {
    margin: auto;
    width: 75%;
    padding-left: 15px;
    padding-bottom: 15px;
}

.keyword {
    font-weight: bolder;
    font-size: 1.5em;
    color: cyan;
}

#logo {
    display: block;
    margin: auto;
}

#title{
    text-align: center;
    margin: auto;
}

@keyframes indicator_animation {
    0% {margin-left: 50%; margin-right: 50%;}
    25% {margin-left: 40%; margin-right: 60%;}
    100% {margin-left: 50%; margin-right: 50%;}
}

#indicator{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    font-size: 50px;
    animation-name: indicator_animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* quote style */

blockquote {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.quote-card {
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}

.quote-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -15px;
}

.quote-icon svg {
    width: 2em;
    height: 2em;
    fill: cyan;
}

.quote-id {
    color: cyan;
    font-size: 0.9em;
}

.quote-content {
    overflow-y: auto;
    max-height: 17em;
}

.quote-fixed-content {
    height: 17em;
}

.prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* swiper layout config */

html,
body {
    position: relative;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.swiper-quote blockquote {
    width: 75%;
}