body {
    margin: 0;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

main {
    max-width: 500px;
    height: 100vh;
    padding: 0;
}

section {
    padding: 15px;
}

.segment {
    padding-bottom: 15px;
}

.keyword {
    /* background-image: linear-gradient(90deg,
            #2e4f8b 0%,
            #3e589d 35%,
            #8f619b 60%,
            #d0718f 70%);
    background-clip: text;
    background-clip: text;
    color: transparent; */
    font-weight: bolder;
    font-size: 1.5em;
}