body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    color: white;
    background-color: darkblue;
}

.segment {
    width: 75%;
    padding-left: 15px;
    padding-bottom: 15px;
}

.keyword {
    font-weight: bolder;
    font-size: 1.5em;
}

/* swiper layout config */

html,
body {
    position: relative;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}